*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoMock1{
    display: none;
}
header{
    position: relative;
}
.logoHeader1{
    width: 150px;
    height: 150px;
}
.navMock2{
    position:absolute;
    top: 30px;
    right: 10px;
}
a{
    border: solid black 1px;
    background-color: #4472c4;
    color: #fff;
    text-decoration: none;
    margin: 3px;
    padding: 3px 10px 3px 10px;
    border-radius: 2px;
    text-align: center;
}
.active{
    background-color: #70ad47;
}
nav{
    display: none;
}

h1{
    top: 40px;
    color: rgb(2, 2, 2);
}

.fondoEncabezado{
    width: 100%;
    height: 400px;
}
.eventContainer{
    position: relative;
}
.logoContainer{
    position:absolute;
    right:  5%;
    bottom: -30px;
}

main{
    display: flex;
    height: 100%;
}

.eventContainer h3{
    padding: 20px 0px 20px 0px;
    background-color: black;
    border: solid black 1px;
    text-align: center;
    color: wheat;
}

.articleContainer{
    width: 100%;
}

.articleContainer article{
    margin: 28px;
}
article p {
    margin-left: 28px;
}

.contactArticle p{
    margin-left: 0px;
    padding: 5px;
}