*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.4);
}
header{
    background-color: rgb(43, 42, 42);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}
.tituloContainer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.tituloMock{
    display: inline-block;
    width: 480px;
    font-size: 28px;
    text-transform: uppercase;
    color: #eeebeb;
    background-color: rgb(100, 100, 100);
    border: solid 2px #bdbdbe;
    border-radius: 20px;
}
nav a{
    text-decoration: none;
    margin-right: 40px;
    color: #fff;
}
.logoMock{
    width: 140px;
}
.fondoEncabezado{
    width: 400px;
    display: none;
}
.articleContainer{
    display: flex;
    padding: 50px;
    flex-direction: column;
    width: 800px;
    align-items: center;
}
.homeArticle{
    text-align: left;
}
.rules{
    padding: 20px 50px;
    width: 100%;
}
.rules h2, p{
    text-align: center;
}
.articleContainer article{
    margin: 15px;
    width: 500px;
}
.articleImgContainer{
    padding: 10px;
    margin: auto;
}
.about h3{
    text-align: center;

}
.articleImgContainer img{
    width: 600px;
    max-width: 100%;
}
section{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 50px;
    background-color: #ffffff69;
}
/* Estilos de reglas   */
.contactArticle{
    text-align: center;
}
.articleContainer h3{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}
.tableContainer h2{
    text-align: center;
    margin: 15px;
}
.tableContainer{
    height: 100%;
}
li ,ol{
    margin-bottom: 5px;
    margin-top: 5px;
}

table{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(219, 219, 218);
    border-radius: 2px;
    box-shadow: 0px 3px 22px 7px rgba(148,148,148,0.76);
    padding-bottom: 18px;
}
.ubicacion{
    text-align: left;
    padding-left: 50px;
    width: 50px;
}
tr{
    text-align: center;
}
td{
    text-align: center;
    width: 200px;
}
th{
    padding: 35px;
}

.footerContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footerContainer h4{
    width: 150px;
    display: inline-block;
}
.footerContainer p{
    margin-bottom: 20px;
}
.phoneEmail{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* Estilos formulario */
.formContainer{
    display: flex;
    align-items: center;
    margin: 30px;
    flex-direction: column;
}

form{
    width: 670px;
    height: 100%;
    border: solid 3px;
    border-radius: 15px;
    margin: 20px;
    background-color: #e0e0e0;
}
fieldset{
margin: 20px;
padding: 10px;
border-radius: 5px;
}
.streetInput{
    width: 450px;
}
.zipCode{
    width: 300px;
}
.gradeForm{
    display: flex;
    align-items: center;
}

.labelInputContainer{
    display: inline-block;
    margin: 8px;
}

.closestSchool h4{
    margin: 5px;
}
.schoolContainer{
    display: flex;
    height: 100px;
}
.optionContainer{
    width: 200px;
    margin: 10px;
}

.positionContainer{
    display: inline-block;
    width: 200px;
    height: 80px;
    padding: 10px;
}

.formFooter{
    padding: 15px;
    margin-bottom: 1em;
}
.formFooter h3{
    margin-bottom: 5px;
}
.formFooter p{
    text-align: start;
}
.inputText{
    background-color:#e0e0e0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: none;
}

.submitContainer{
    width: 100%;
    text-align: center;
}
.submitContainer input{
    width: 100px;
    height: 30px;
    margin-bottom: 15px;
}

/* map estilos */
.mapContainer{
    margin-top: 30px;
    padding: 5px;
    width: 100%;
    background-color: rgba(66, 60, 94, 0.247);
}
.mapContainer iframe{
    width: 180px;
    height: 180px;
    margin: 5px;
    
}
.iframeContainer{
    display: inline-block;
}